
.aw-top-menu-wrap {
    background-color: #fff;
}
.aw-top-menu-wrap {
    position: relative;
    z-index: 1001;
    width: 100%;
    min-height: 50px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}

body, input, button, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue',STHeiti,'Microsoft YaHei',Helvetica,Arial,sans-serif;
}
body {
    margin: 0;
    height: 100%;
    font-size: 14px;
    line-height: 160%;
    color: #666;
}

.aw-search-box input {
    border: 1px solid #ddd;
}
.aw-search-box input {
    width: 260px;
    height: 32px;
    padding-right: 30px;
    border: none;
}
.form-control {
    padding: 6px;
    resize: none;
    box-shadow: none;
}


.aw-top-nav .navbar-nav>.active>a, .aw-top-nav .navbar-nav>li>a.active, .aw-top-nav .navbar-nav>.active>a:hover, .aw-top-nav .navbar-nav>li>a.active:hover, .aw-top-nav .navbar-nav>.active>a:focus, .aw-top-nav .navbar-nav>li>a.active:focus {
    background-color: #fff;
    color: #333;
}

.aw-top-nav>nav>ul>li>a.active {
    background: #4dabff;
    font-weight: 700;
}
.aw-top-nav .navbar-nav>li>a {
    color: #555;
}
.aw-top-nav>nav>ul>li>a {
    padding: 16px;
}