<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.UserMapper">


    <insert id="save">
        INSERT INTO user(name, password, address) VALUES (#{name},#{password},#{address})
    </insert>
    <select id="findById" resultType="User" parameterType="int">
        SELECT id, name, password, address FROM user WHERE id=#{id}
    </select>
    <select id="findAll" resultType="User">
        SELECT id, name, password, address FROM user
    </select>
</mapper>