<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.BorrowMapper">


    <!--OJNL -->
    <!--<select id="findById" parameterType="int" resultType="com.kaishengit.pojo.Borrow">
        SELECT card.code AS 'card.code',name AS 'card.name',book.code AS 'book.code',title AS 'book.title' FROM borrow
        INNER JOIN book ON book.id = borrow.bid
        INNER JOIN card ON card.id = borrow.cid
        WHERE borrow.id=#{id}
    </select>-->

    <!--resultMap -->
    <select id="findById" parameterType="int" resultType="com.kaishengit.pojo.Borrow" resultMap="borrowMap">
        SELECT card.code ,name ,book.code ,title  FROM borrow
        INNER JOIN book ON book.id = borrow.bid
        INNER JOIN card ON card.id = borrow.cid
        WHERE borrow.id=#{id}
    </select>
    
    <resultMap id="borrowMap" type="com.kaishengit.pojo.Borrow">
        <id property="id" column="id"/>
        <result property="bid" column="bid"/>
        <result property="cid" column="cid"/>
        <result property="btime" column="btime"/>
        <association property="book" javaType="com.kaishengit.pojo.Book" column="id">
            <id column="bid" property="id"/>
            <result column="code" property="code"/>
            <result column="title" property="title"/>
        </association>
        <association property="card" javaType="com.kaishengit.pojo.Card" column="cid">
            <id column="cid" property="id"/>
            <result column="code" property="code"/>
            <result column="name" property="name"/>
        </association>

    </resultMap>



</mapper>